<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arvirotech.monev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArvirotechMonev">
        <activity android:name=".marketing.pengadaan.EditPengMar"></activity>
        <activity android:name=".marketing.pengadaan.DetailPengMar" />
        <activity android:name=".marketing.compon.DetailKons" />
        <activity android:name=".marketing.compon.EditKon" />
        <activity android:name=".marketing.pengadaan.PengadaanMarketing" />
        <activity android:name=".marketing.pengadaan.AddDataPengMar" />
        <activity android:name=".marketing.compon.AddDataKonMar" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/Theme.ArvirotechMonev.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.Register"
            android:theme="@style/Theme.ArvirotechMonev.NoActionBar" />
        <activity android:name=".marketing.konstruksi.KonstruksiMarketing" />
        <activity android:name=".marketing.compon.DetailMar" />
        <activity android:name=".marketing.compon.EditMar" />
        <activity android:name=".marketing.compon.AddDataMar" />
        <activity
            android:name=".marketing.perencana.PerencanaMarketing"
            android:label="Perencana" />
        <activity
            android:name=".marketing.MarMain"
            android:theme="@style/Theme.ArvirotechMonev.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>